In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import from_json, udf, col, explode, from_unixtime
import datetime
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName('Fetch_Rewards_Analytics').getOrCreate()

In [23]:
# Define the schema for the rewardsReceiptItemList array
item_schema = StructType([
    StructField("rewardsGroup", StringType(), True),
    StructField("barcode", StringType(), True),
    StructField("competitiveProduct", StringType(), True),
    StructField("description", StringType(), True),
    StructField("finalPrice", StringType(), True),
    StructField("itemPrice", StringType(), True),
    StructField("needsFetchReview", BooleanType(), True),
    StructField("partnerItemId", StringType(), True),
    StructField("preventTargetGapPoints", BooleanType(), True),
    StructField("quantityPurchased", IntegerType(), True),
    StructField("userFlaggedBarcode", StringType(), True),
    StructField("userFlaggedNewItem", BooleanType(), True),
    StructField("userFlaggedPrice", StringType(), True),
    StructField("userFlaggedQuantity", IntegerType(), True)
])

# Define the main schema
schema = StructType([
    StructField("_id", StructType([
        StructField("$oid", StringType(), True)
    ]), True),
    StructField("bonusPointsEarned", IntegerType(), True),
    StructField("bonusPointsEarnedReason", StringType(), True),
    StructField("createDate", StructType([
        StructField("$date", LongType(), True)
    ]), True),
    StructField("dateScanned", StructType([
        StructField("$date", LongType(), True)
    ]), True),
    StructField("finishedDate", StructType([
        StructField("$date", LongType(), True)
    ]), True),
    StructField("modifyDate", StructType([
        StructField("$date", LongType(), True)
    ]), True),
    StructField("pointsAwardedDate", StructType([
        StructField("$date", LongType(), True)
    ]), True),
    StructField("pointsEarned", StringType(), True),
    StructField("purchaseDate", StructType([
        StructField("$date", LongType(), True)
    ]), True),
    StructField("purchasedItemCount", IntegerType(), True),
    StructField("rewardsReceiptItemList", ArrayType(item_schema), True),
    StructField("rewardsReceiptStatus", StringType(), True),
    StructField("totalSpent", StringType(), True),
    StructField("userId", StringType(), True)
])

# Read the JSON file
df = spark.read.schema(schema).json("/content/receipts.json")

# Convert timestamp fields from milliseconds to readable dates
date_columns = [
    "createDate", "dateScanned", "finishedDate",
    "modifyDate", "pointsAwardedDate", "purchaseDate"
]

for date_col in date_columns:
    df = df.withColumn(
        f"{date_col}_formatted",
        from_unixtime(col(f"{date_col}.$date")/1000)
    ) \
    .drop(date_col)

# If you want to flatten the _id field
df = df.withColumn("receipt_id", col("_id.$oid")).drop('_id')

# Example of how to access the nested rewardsReceiptItemList
df_receipt_lines = df.select(
    "receipt_id",
    "purchaseDate_formatted",
    "totalSpent",
    "rewardsReceiptStatus",
    "purchasedItemCount",
    "pointsEarned",
    "bonusPointsEarned",
    "rewardsReceiptItemList"
).selectExpr("receipt_id", "purchaseDate_formatted", "totalSpent",
             "rewardsReceiptStatus", "purchasedItemCount", "pointsEarned",
             "bonusPointsEarned", "explode(rewardsReceiptItemList) as items")

# Show the results
df_receipt_lines.show(truncate=False)

+------------------------+----------------------+----------+--------------------+------------------+------------+-----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|receipt_id              |purchaseDate_formatted|totalSpent|rewardsReceiptStatus|purchasedItemCount|pointsEarned|bonusPointsEarned|items                                                                                                                                                                                             |
+------------------------+----------------------+----------+--------------------+------------------+------------+-----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|5ff1e1eb0a720f0523000575|2021-01-03 00:00:00   |26.00     |FINISHED            |5                 |500.0       |500              |{NULL, 4011, NULL, ITEM NOT FOUND, 26.00, 26.00, false, 1, true, 5, 4011, true, 26.00, 5}                                                                                                         |
|5ff1e1bb0a720f052300056b|2021-01-02 15:24:43   |11.00     |FINISHED            |2                 |150.0       |150              |{NULL, 4011, NULL, ITEM NOT FOUND, 1, 1, NULL, 1, NULL, 1, NULL, NULL, NULL, NULL}                                                                                                                |
|5ff1e1bb0a720f052300056b|2021-01-02 15:24:43   |11.00     |FINISHED            |2                 |150.0       |150              |{DORITOS SPICY SWEET CHILI SINGLE SERVE, 028400642255, NULL, DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ, 10.00, 10.00, true, 2, true, 1, 028400642255, true, 10.00, 1}          |
|5ff1e1f10a720f052300057a|2021-01-03 00:00:00   |10.00     |REJECTED            |1                 |5           |5                |{NULL, NULL, NULL, NULL, NULL, NULL, false, 1, true, NULL, 4011, true, 26.00, 3}                                                                                                                  |
|5ff1e1ee0a7214ada100056f|2021-01-03 00:00:00   |28.00     |FINISHED            |4                 |5.0         |5                |{NULL, 4011, NULL, ITEM NOT FOUND, 28.00, 28.00, false, 1, true, 4, 4011, true, 28.00, 4}                                                                                                         |
|5ff1e1d20a7214ada1000561|2021-01-02 15:25:06   |1.00      |FINISHED            |2                 |5.0         |5                |{NULL, 4011, NULL, ITEM NOT FOUND, 1, 1, NULL, 1, NULL, 1, NULL, NULL, NULL, NULL}                                                                                                                |
|5ff1e1d20a7214ada1000561|2021-01-02 15:25:06   |1.00      |FINISHED            |2                 |5.0         |5                |{NULL, 1234, NULL, NULL, 2.56, 2.56, true, 2, true, 3, 1234, true, 2.56, 3}                                                                                                                       |
|5ff1e1e40a7214ada1000566|2021-01-02 15:25:24   |3.25      |FINISHED            |1                 |750.0       |750              |{DORITOS SPICY SWEET CHILI SINGLE SERVE, 4011, NULL, ITEM NOT FOUND, 3.25, 3.25, false, 1, true, 1, 4011, NULL, NULL, NULL}                                                                       |
|5ff1e1cd0a720f052300056f|2021-01-03 15:25:01   |2.23      |FINISHED            |1                 |5.0         |5                |{NULL, NULL, NULL, MSSN TORTLLA, 2.23, 2.23, NULL, 1009, NULL, 1, NULL, NULL, NULL, NULL}                                                                                                         |
|5ff1e1a40a720f0523000569|2020-12-27 00:00:00   |10.00     |FINISHED            |1                 |500.0       |500              |{OLD EL PASO BEANS & PEPPERS, 046000832517, NULL, Old El Paso Mild Chopped Green Chiles, 4.5 Oz, 10.00, 10.00, NULL, 0, NULL, 1, NULL, NULL, NULL, NULL}                                          |
|5ff1e1ed0a7214ada100056e|2021-01-03 00:00:00   |20.00     |FINISHED            |5                 |5.0         |5                |{NULL, 4011, NULL, ITEM NOT FOUND, 20.00, 20.00, false, 1, true, 5, 4011, true, 20.00, 5}                                                                                                         |
|5ff1e1eb0a7214ada100056b|2021-01-03 00:00:00   |20.00     |FINISHED            |3                 |250.0       |250              |{NULL, 4011, NULL, ITEM NOT FOUND, 20.00, 20.00, false, 1, true, 3, 4011, true, 20.00, 3}                                                                                                         |
|5ff1e1c50a720f052300056c|2021-01-02 15:24:53   |1.00      |FINISHED            |1                 |100.0       |100              |{NULL, 4011, NULL, ITEM NOT FOUND, 1, 1, NULL, 1, NULL, 1, NULL, NULL, NULL, NULL}                                                                                                                |
|5ff1e1a10a720f0523000568|2021-01-02 00:00:00   |50.00     |FINISHED            |5                 |750.0       |750              |{ANNIE'S HOMEGROWN MULTI-SERVING MAC & CHEESE, 013562300631, NULL, Annie's Homegrown Organic White Cheddar Macaroni & Cheese Shells, 6 Oz, 50.00, 50.00, true, 1, NULL, 5, NULL, NULL, NULL, NULL}|
|5ff1e1b60a7214ada100055c|2021-02-03 15:24:38   |290.00    |FLAGGED             |10                |8850.0      |150              |{MILLER LITE 24 PACK, 034100573065, NULL, MILLER LITE 24 PACK 12OZ CAN, 29, 29, NULL, 1, NULL, 1, NULL, NULL, NULL, NULL}                                                                         |
|5ff1e1b60a7214ada100055c|2021-02-03 15:24:38   |290.00    |FLAGGED             |10                |8850.0      |150              |{MILLER LITE 24 PACK, 034100573065, NULL, MILLER LITE 24 PACK 12OZ CAN, 29, 29, NULL, 2, NULL, 1, NULL, NULL, NULL, NULL}                                                                         |
|5ff1e1b60a7214ada100055c|2021-02-03 15:24:38   |290.00    |FLAGGED             |10                |8850.0      |150              |{MILLER LITE 24 PACK, 034100573065, NULL, MILLER LITE 24 PACK 12OZ CAN, 29, 29, NULL, 3, NULL, 1, NULL, NULL, NULL, NULL}                                                                         |
|5ff1e1b60a7214ada100055c|2021-02-03 15:24:38   |290.00    |FLAGGED             |10                |8850.0      |150              |{MILLER LITE 24 PACK, 034100573065, NULL, MILLER LITE 24 PACK 12OZ CAN, 29, 29, NULL, 4, NULL, 1, NULL, NULL, NULL, NULL}                                                                         |
|5ff1e1b60a7214ada100055c|2021-02-03 15:24:38   |290.00    |FLAGGED             |10                |8850.0      |150              |{MILLER LITE 24 PACK, 034100573065, NULL, MILLER LITE 24 PACK 12OZ CAN, 29, 29, NULL, 5, NULL, 1, NULL, NULL, NULL, NULL}                                                                         |
|5ff1e1b60a7214ada100055c|2021-02-03 15:24:38   |290.00    |FLAGGED             |10                |8850.0      |150              |{MILLER LITE 24 PACK, 034100573065, NULL, MILLER LITE 24 PACK 12OZ CAN, 29, 29, NULL, 6, NULL, 1, NULL, NULL, NULL, NULL}                                                                         |
+------------------------+----------------------+----------+--------------------+------------------+------------+-----------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [28]:
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("receipts")

# 1. Check for null values across all columns
null_check = spark.sql("""
    SELECT
        COUNT(*) as total_records,
        SUM(CASE WHEN receipt_id IS NULL THEN 1 ELSE 0 END) as null_receipt_ids,
        SUM(CASE WHEN userId IS NULL THEN 1 ELSE 0 END) as null_user_ids,
        SUM(CASE WHEN totalSpent IS NULL THEN 1 ELSE 0 END) as null_total_spent,
        SUM(CASE WHEN purchaseDate_formatted IS NULL THEN 1 ELSE 0 END) as null_purchase_dates,
        SUM(CASE WHEN rewardsReceiptStatus IS NULL THEN 1 ELSE 0 END) as null_status
    FROM receipts
""")

# 2. Check for data consistency - total spent vs items
price_consistency = spark.sql("""
    SELECT
        receipt_id,
        totalSpent,
        SUM(CAST(items.finalPrice AS DOUBLE)) as sum_item_prices,
        ABS(CAST(totalSpent AS DOUBLE) - SUM(CAST(items.finalPrice AS DOUBLE))) as price_difference
    FROM receipts
    LATERAL VIEW explode(rewardsReceiptItemList) as items
    GROUP BY receipt_id, totalSpent
    HAVING ABS(CAST(totalSpent AS DOUBLE) - SUM(CAST(items.finalPrice AS DOUBLE))) > 0.01
""")

# 3. Check for date validity
date_validity = spark.sql("""
    SELECT
        receipt_id,
        purchaseDate_formatted,
        createDate_formatted,
        pointsAwardedDate_formatted
    FROM receipts
    WHERE
        purchaseDate_formatted > createDate_formatted
        OR pointsAwardedDate_formatted < purchaseDate_formatted
""")

# 4. Check for duplicate receipts
duplicate_check = spark.sql("""
    SELECT
        receipt_id,
        COUNT(*) as occurrence_count
    FROM receipts
    GROUP BY receipt_id
    HAVING COUNT(*) > 1
""")

# 5. Check for unusual values in numeric fields
numeric_outliers = spark.sql("""
    WITH stats AS (
        SELECT
            AVG(CAST(totalSpent AS DOUBLE)) as avg_spent,
            STDDEV(CAST(totalSpent AS DOUBLE)) as stddev_spent,
            AVG(CAST(pointsEarned AS DOUBLE)) as avg_points,
            STDDEV(CAST(pointsEarned AS DOUBLE)) as stddev_points
        FROM receipts
    )
    SELECT
        receipt_id,
        totalSpent,
        pointsEarned
    FROM receipts, stats
    WHERE
        CAST(totalSpent AS DOUBLE) > stats.avg_spent + 3 * stats.stddev_spent
        OR CAST(pointsEarned AS DOUBLE) > stats.avg_points + 3 * stats.stddev_points
""")

# 6. Check for invalid status transitions
status_transitions = spark.sql("""
    SELECT
        r1.receipt_id,
        r1.rewardsReceiptStatus as current_status,
        r1.modifyDate_formatted,
        LAG(r1.rewardsReceiptStatus) OVER (PARTITION BY r1.receipt_id ORDER BY r1.modifyDate_formatted) as previous_status
    FROM receipts r1
    WHERE r1.rewardsReceiptStatus NOT IN ('FINISHED', 'PENDING', 'REJECTED')
""")

# 7. Check item count consistency
item_count_check = spark.sql("""
    SELECT
        receipt_id,
        purchasedItemCount as declared_count,
        COUNT(items) as actual_count
    FROM receipts
    LATERAL VIEW explode(rewardsReceiptItemList) as items
    GROUP BY receipt_id, purchasedItemCount
    HAVING purchasedItemCount != COUNT(items)
""")

# 8. Check for suspicious points allocation
points_check = spark.sql("""
    SELECT
        receipt_id,
        totalSpent,
        pointsEarned,
        bonusPointsEarned,
        CAST(pointsEarned AS DOUBLE) / CAST(totalSpent AS DOUBLE) as points_ratio
    FROM receipts
    WHERE
        CAST(totalSpent AS DOUBLE) > 0
        AND (
            CAST(pointsEarned AS DOUBLE) / CAST(totalSpent AS DOUBLE) > 100
            OR bonusPointsEarned > CAST(pointsEarned AS DOUBLE) * 2
        )
""")

# 9. Check for items with missing or invalid data
item_data_quality = spark.sql("""
    SELECT
        receipt_id,
        items.*
    FROM receipts
    LATERAL VIEW explode(rewardsReceiptItemList) as items
    WHERE
        items.barcode IS NULL
        OR items.finalPrice IS NULL
        OR CAST(items.finalPrice AS DOUBLE) <= 0
        OR items.quantityPurchased <= 0
""")

# Execute and display results
for query_name, df_query in [
    ("Null Check", null_check),
    ("Price Consistency", price_consistency),
    ("Date Validity", date_validity),
    ("Duplicates", duplicate_check),
    ("Numeric Outliers", numeric_outliers),
    ("Status Transitions", status_transitions),
    ("Item Count", item_count_check),
    ("Points Check", points_check),
    ("Item Quality", item_data_quality)
]:
    print(f"\n=== {query_name} ===")
    df_query.show(truncate=False)

=== Null Check ===
+-------------+----------------+-------------+----------------+-------------------+-----------+
|total_records|null_receipt_ids|null_user_ids|null_total_spent|null_purchase_dates|null_status|
+-------------+----------------+-------------+----------------+-------------------+-----------+
|1119         |0               |0            |435             |448                |0          |
+-------------+----------------+-------------+----------------+-------------------+-----------+


=== Price Consistency ===
+------------------------+----------+---------------+----------------+
|receipt_id              |totalSpent|sum_item_prices|price_difference|
+------------------------+----------+---------------+----------------+
|6011f39c0a720f05350000b4|1.00      |3.56           |2.56            |
|5ffc9d9c0a7214adca00004b|10.00     |24.0           |14.0            |
|602558a90a720f05a8000240|1.00      |3.56           |2.56            |
|5ff1e1d20a7214ada1000561|1.00      |3.56           |2.56            |
|60145a510a7214ad50000086|10.00     |25.0           |15.0            |
|60132b740a7214ad50000012|1.00      |3.56           |2.56            |
|5ffcb4ad0a720f0515000009|1.00      |3.56           |2.56            |
|6008888f0a720f05fa0000b5|1.00      |3.56           |2.56            |
|5ff726810a720f05230005ea|1.00      |3.56           |2.56            |
|5ff874050a7214ada100065d|1.00      |3.56           |2.56            |
|601455820a720f05f80000fb|10.00     |26.0           |16.0            |
|60189c900a7214ad28000038|10.00     |27.0           |17.0            |
|5ffcb4b80a7214ad4e00000d|10.00     |22.0           |12.0            |
+------------------------+----------+---------------+----------------+


=== Date Validity ===
+------------------------+----------------------+--------------------+---------------------------+
|receipt_id              |purchaseDate_formatted|createDate_formatted|pointsAwardedDate_formatted|
+------------------------+----------------------+--------------------+---------------------------+
|5ff1e1b60a7214ada100055c|2021-02-03 15:24:38   |2021-01-03 15:24:38 |NULL                       |
|5ff1e1b20a7214ada100055a|2021-02-03 15:24:35   |2021-01-03 15:24:34 |2021-01-03 15:24:35        |
|5ff4ce640a7214ada10005e0|2021-02-05 20:39:00   |2021-01-05 20:39:00 |2021-01-05 20:39:00        |
|5ff73be10a7214ada1000619|2021-02-07 16:50:41   |2021-01-07 16:50:41 |NULL                       |
|5ff873f10a720f052300064f|2021-02-08 15:02:10   |2021-01-08 15:02:09 |NULL                       |
|5ffcb4900a720f0515000002|2021-02-11 20:26:56   |2021-01-11 20:26:56 |NULL                       |
|5fff26ee0a720f05f300001a|2021-02-13 16:59:26   |2021-01-13 16:59:26 |2021-01-13 16:59:26        |
|5fff26f10a7214ad4c000018|2021-02-13 16:59:29   |2021-01-13 16:59:29 |NULL                       |
|6000d4bc0a7214ad4c000070|2021-02-14 23:33:17   |2021-01-14 23:33:16 |NULL                       |
|600887560a720f05fa000098|2021-02-20 19:41:10   |2021-01-20 19:41:10 |2021-01-20 19:41:11        |
|60145a3d0a7214ad50000082|2021-02-28 18:55:58   |2021-01-29 18:55:57 |2021-01-29 18:56:00        |
|60182f290a720f05f800032f|2021-03-01 16:41:13   |2021-02-01 16:41:13 |2021-02-01 16:41:13        |
|602176c90a7214d8e9000028|2021-03-08 17:37:13   |2021-02-08 17:37:13 |2021-02-08 17:37:13        |
+------------------------+----------------------+--------------------+---------------------------+


=== Duplicates ===
+----------+----------------+
|receipt_id|occurrence_count|
+----------+----------------+
+----------+----------------+


=== Numeric Outliers ===
+------------------------+----------+------------+
|receipt_id              |totalSpent|pointsEarned|
+------------------------+----------+------------+
|5ff1e1b60a7214ada100055c|290.00    |8850.0      |
|5fa5ad370a720f05ef000089|291.00    |9449.8      |
|5ff7945a0a7214ada1000646|27.00     |5750.0      |
|5ff73be10a7214ada1000619|290.00    |8700.0      |
|5ff873f10a720f052300064f|290.00    |9200.0      |
|5ffcb4900a720f0515000002|290.00    |8950.0      |
|5fff26f10a7214ad4c000018|290.00    |8700.0      |
|6000d4bc0a7214ad4c000070|290.00    |8700.0      |
|60025cb80a720f05f300008d|1177.84   |1658.3      |
|60088d5d0a7214ad890000ed|21.00     |5850.0      |
|60088a460a720f05fa0000d5|28.00     |4850.0      |
|60088d580a7214ad890000eb|26.00     |9850.0      |
|600996ac0a720f05fa000134|1198.68   |6257.3      |
|600a1a8d0a7214ada2000008|1183.10   |1178.7      |
|600f24970a720f053500002f|4368.80   |NULL        |
|600f0cc70a720f053500002c|2084.82   |NULL        |
|600f39c30a7214ada2000030|4721.95   |7137.2      |
|6011f3490a7214ada200010e|11.00     |10199.8     |
|60118bea0a720f0535000064|3.25      |4850.0      |
|6010bdf60a7214ada2000059|3.25      |5850.0      |
+------------------------+----------+------------+
only showing top 20 rows


=== Status Transitions ===
+------------------------+--------------+--------------------+---------------+
|receipt_id              |current_status|modifyDate_formatted|previous_status|
+------------------------+--------------+--------------------+---------------+
|5ff1e1b40a7214ada100055b|FLAGGED       |2021-01-03 15:24:37 |NULL           |
|5ff1e1b60a7214ada100055c|FLAGGED       |2021-01-03 15:24:38 |NULL           |
|5ff1e1e90a7214ada1000569|FLAGGED       |2021-01-03 15:25:29 |NULL           |
|5ff475820a7214ada10005cf|SUBMITTED     |2021-01-05 14:19:46 |NULL           |
|5ff4ce3c0a720f05230005c4|FLAGGED       |2021-01-05 20:38:20 |NULL           |
|5ff4ce650a7214ada10005e1|FLAGGED       |2021-01-05 20:39:02 |NULL           |
|5ff4ce690a7214ada10005e2|FLAGGED       |2021-01-05 20:39:07 |NULL           |
|5ff5ecb90a7214ada10005f9|SUBMITTED     |2021-01-06 17:00:40 |NULL           |
|5ff726860a720f05230005ec|SUBMITTED     |2021-01-07 15:19:34 |NULL           |
|5ff726a40a720f05230005fa|FLAGGED       |2021-01-07 15:20:05 |NULL           |
|5ff73be10a7214ada1000619|FLAGGED       |2021-01-07 16:50:41 |NULL           |
|5ff73be90a720f052300060a|FLAGGED       |2021-01-07 16:50:49 |NULL           |
|5ff793dd0a720f0523000633|FLAGGED       |2021-01-07 17:06:17 |NULL           |
|5ff794600a7214ada1000647|FLAGGED       |2021-01-07 17:08:17 |NULL           |
|5ff794bf0a7214ada1000650|FLAGGED       |2021-01-07 17:09:53 |NULL           |
|5ff873f10a720f052300064f|FLAGGED       |2021-01-08 15:02:10 |NULL           |
|5ff8da4c0a720f05c5000011|FLAGGED       |2021-01-08 22:18:52 |NULL           |
|5ff8da620a7214adca00001d|FLAGGED       |2021-01-08 22:19:15 |NULL           |
|5ff8da650a7214adca00001e|FLAGGED       |2021-01-08 22:19:19 |NULL           |
|5ff8da7d0a720f05c500001c|FLAGGED       |2021-01-08 22:19:41 |NULL           |
+------------------------+--------------+--------------------+---------------+
only showing top 20 rows


=== Item Count ===
+------------------------+--------------+------------+
|receipt_id              |declared_count|actual_count|
+------------------------+--------------+------------+
|5ffc9da40a7214adca000050|5             |1           |
|600a1e270a720f0535000009|196           |176         |
|601c68ce0a7214ad280002d6|8             |1           |
|5ff1e1ee0a7214ada1000570|5             |1           |
|60088a460a720f05fa0000d5|3             |1           |
|600afbd90a720f053500000b|122           |114         |
|5ff5d20c0a720f05230005e3|4             |1           |
|600b39f60a720f053500000e|133           |125         |
|600f0cc70a720f053500002c|303           |217         |
|5fa8d5790a7214adc30001c4|6             |5           |
|5ffc9d8c0a7214adca000049|1             |11          |
|6009f5ea0a7214ada2000004|32            |25          |
|5ff4ce3c0a720f05230005c4|0             |2           |
|6002590c0a7214ad4c000082|208           |130         |
|60118c0f0a7214ada200007e|4             |1           |
|5ff1e1a10a720f0523000568|5             |1           |
|6010bdfa0a7214ada200005a|5             |1           |
|6000d48d0a7214ad4c000063|5             |1           |
|5ff1e1eb0a720f0523000576|2             |1           |
|6008f2be0a720f05fa000129|13            |5           |
+------------------------+--------------+------------+
only showing top 20 rows


=== Points Check ===
+------------------------+----------+------------+-----------------+------------------+
|receipt_id              |totalSpent|pointsEarned|bonusPointsEarned|points_ratio      |
+------------------------+----------+------------+-----------------+------------------+
|5ff1e1e40a7214ada1000566|3.25      |750.0       |750              |230.76923076923077|
|5f9c74f70a7214ad07000037|1.00      |750.0       |750              |750.0             |
|5ff1e1b20a7214ada100055a|1.00      |300.0       |300              |300.0             |
|5ff1e1b40a7214ada100055b|1.00      |750.0       |750              |750.0             |
|5ff1e1960a720f0523000567|1.00      |750.0       |750              |750.0             |
|5ff36d780a7214ada1000593|10.00     |1750.0      |750              |175.0             |
|5ff371410a7214ada10005ba|1.00      |350.0       |45               |350.0             |
|5ff371130a7214ada10005aa|0.99      |100.0       |45               |101.01010101010101|
|5ff371240a7214ada10005b3|1.00      |755.0       |750              |755.0             |
|5ff473f30a720f05230005c0|10.00     |1800.0      |750              |180.0             |
|5ff4ce550a7214ada10005db|1.00      |300.0       |300              |300.0             |
|5ff4ce650a7214ada10005e1|1.00      |750.0       |750              |750.0             |
|5ff4ce4e0a7214ada10005da|1.00      |500.0       |500              |500.0             |
|5ff5d1a30a7214ada10005ef|1.00      |755.0       |750              |755.0             |
|5ff5d2060a720f05230005e1|0.99      |100.0       |45               |101.01010101010101|
|5ff5d1d00a7214ada10005f2|10.00     |1800.0      |750              |180.0             |
|5ff5d19c0a7214ada10005eb|1.00      |750.0       |750              |750.0             |
|5ff7946f0a720f052300063c|23.00     |3250.0      |250              |141.30434782608697|
|5ff794940a720f0523000640|23.00     |4005.0      |5                |174.1304347826087 |
|5ff794020a720f0523000635|1.00      |2005.0      |5                |2005.0            |
+------------------------+----------+------------+-----------------+------------------+
only showing top 20 rows


=== Item Quality ===
+------------------------+------------+-------+------------------+------------+----------+---------+----------------+-------------+----------------------+-----------------+------------------+------------------+----------------+-------------------+
|receipt_id              |rewardsGroup|barcode|competitiveProduct|description |finalPrice|itemPrice|needsFetchReview|partnerItemId|preventTargetGapPoints|quantityPurchased|userFlaggedBarcode|userFlaggedNewItem|userFlaggedPrice|userFlaggedQuantity|
+------------------------+------------+-------+------------------+------------+----------+---------+----------------+-------------+----------------------+-----------------+------------------+------------------+----------------+-------------------+
|5ff1e1f10a720f052300057a|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |false           |1            |true                  |NULL             |4011              |true              |26.00           |3                  |
|5ff1e1cd0a720f052300056f|NULL        |NULL   |NULL              |MSSN TORTLLA|2.23      |2.23     |NULL            |1009         |NULL                  |1                |NULL              |NULL              |NULL            |NULL               |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |2            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |3            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |4            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |5            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |6            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |7            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |8            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |9            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |10           |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5f9c74f70a7214ad07000037|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |11           |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5ff1e1e90a7214ada1000569|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |1            |true                  |NULL             |4011              |true              |25.00           |3                  |
|5ff1e1e90a7214ada1000569|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |2            |true                  |NULL             |034100573065      |true              |27.00           |3                  |
|5ff1e1b40a7214ada100055b|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |2            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5ff1e1b40a7214ada100055b|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |3            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5ff1e1b40a7214ada100055b|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |4            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5ff1e1b40a7214ada100055b|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |5            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5ff1e1b40a7214ada100055b|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |6            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
|5ff1e1b40a7214ada100055b|NULL        |NULL   |NULL              |NULL        |NULL      |NULL     |true            |7            |true                  |NULL             |034100573065      |true              |29.00           |1                  |
+------------------------+------------+-------+------------------+------------+----------+---------+----------------+-------------+----------------------+-----------------+------------------+------------------+----------------+-------------------+
only showing top 20 rows

In [29]:
# Register the DataFrame as a temporary view
df_receipt_lines.createOrReplaceTempView("receipt_lines")

# 1. Check for missing or invalid values in critical fields
missing_values = spark.sql("""
    SELECT
        COUNT(*) as total_records,
        SUM(CASE WHEN receipt_id IS NULL THEN 1 ELSE 0 END) as null_receipt_ids,
        SUM(CASE WHEN items.barcode IS NULL THEN 1 ELSE 0 END) as null_barcodes,
        SUM(CASE WHEN items.finalPrice IS NULL OR TRIM(items.finalPrice) = '' THEN 1 ELSE 0 END) as null_prices,
        SUM(CASE WHEN items.quantityPurchased IS NULL THEN 1 ELSE 0 END) as null_quantities,
        SUM(CASE WHEN items.description IS NULL OR TRIM(items.description) = '' THEN 1 ELSE 0 END) as null_descriptions
    FROM receipt_lines
""")

# 2. Check for price consistency and negative values
price_issues = spark.sql("""
    SELECT
        receipt_id,
        items.barcode,
        items.finalPrice,
        items.itemPrice,
        items.quantityPurchased,
        CAST(items.finalPrice AS DOUBLE) as final_price_num,
        CAST(items.itemPrice AS DOUBLE) as item_price_num,
        ABS(CAST(items.finalPrice AS DOUBLE) - CAST(items.itemPrice AS DOUBLE)) as price_difference
    FROM receipt_lines
    WHERE
        CAST(items.finalPrice AS DOUBLE) <= 0
        OR CAST(items.itemPrice AS DOUBLE) <= 0
        OR CAST(items.quantityPurchased AS INT) <= 0
        OR ABS(CAST(items.finalPrice AS DOUBLE) - CAST(items.itemPrice AS DOUBLE)) > 0.01
""")

# 3. Check for receipt total consistency
total_consistency = spark.sql("""
    SELECT
        receipt_id,
        totalSpent as receipt_total,
        SUM(CAST(items.finalPrice AS DOUBLE)) as sum_line_items,
        COUNT(*) as line_item_count,
        purchasedItemCount as declared_item_count,
        ABS(CAST(totalSpent AS DOUBLE) - SUM(CAST(items.finalPrice AS DOUBLE))) as total_difference
    FROM receipt_lines
    GROUP BY receipt_id, totalSpent, purchasedItemCount
    HAVING
        ABS(CAST(totalSpent AS DOUBLE) - SUM(CAST(items.finalPrice AS DOUBLE))) > 0.01
        OR COUNT(*) != purchasedItemCount
""")

# 4. Check for duplicate line items within receipts
duplicate_items = spark.sql("""
    SELECT
        receipt_id,
        items.barcode,
        items.description,
        COUNT(*) as occurrence_count
    FROM receipt_lines
    GROUP BY receipt_id, items.barcode, items.description
    HAVING COUNT(*) > 1
""")

# 5. Check for unusual quantities or prices (statistical outliers)
outliers = spark.sql("""
    WITH stats AS (
        SELECT
            items.barcode,
            AVG(CAST(items.finalPrice AS DOUBLE)) as avg_price,
            STDDEV(CAST(items.finalPrice AS DOUBLE)) as stddev_price,
            AVG(items.quantityPurchased) as avg_quantity,
            STDDEV(items.quantityPurchased) as stddev_quantity
        FROM receipt_lines
        GROUP BY items.barcode
    )
    SELECT
        r.receipt_id,
        r.items.barcode,
        r.items.description,
        r.items.finalPrice,
        r.items.quantityPurchased,
        stats.avg_price,
        stats.avg_quantity
    FROM receipt_lines r
    JOIN stats ON r.items.barcode = stats.barcode
    WHERE
        ABS(CAST(r.items.finalPrice AS DOUBLE) - stats.avg_price) > 3 * stats.stddev_price
        OR ABS(r.items.quantityPurchased - stats.avg_quantity) > 3 * stats.stddev_quantity
""")

# 6. Check for mismatched user-flagged data
flagged_mismatches = spark.sql("""
    SELECT
        receipt_id,
        items.barcode,
        items.userFlaggedBarcode,
        items.finalPrice,
        items.userFlaggedPrice,
        items.quantityPurchased,
        items.userFlaggedQuantity
    FROM receipt_lines
    WHERE
        (items.barcode != items.userFlaggedBarcode AND items.userFlaggedBarcode IS NOT NULL)
        OR (CAST(items.finalPrice AS DOUBLE) != CAST(items.userFlaggedPrice AS DOUBLE) AND items.userFlaggedPrice IS NOT NULL)
        OR (items.quantityPurchased != items.userFlaggedQuantity AND items.userFlaggedQuantity IS NOT NULL)
""")

# 7. Check competitive product and rewards group patterns
rewards_analysis = spark.sql("""
    SELECT
        items.rewardsGroup,
        items.competitiveProduct,
        COUNT(*) as item_count,
        COUNT(DISTINCT receipt_id) as receipt_count,
        AVG(CAST(items.finalPrice AS DOUBLE)) as avg_price
    FROM receipt_lines
    WHERE items.rewardsGroup IS NOT NULL
        OR items.competitiveProduct IS NOT NULL
    GROUP BY items.rewardsGroup, items.competitiveProduct
""")

# Execute and display results
for query_name, df_query in [
    ("Missing Values Summary", missing_values),
    ("Price Issues", price_issues),
    ("Total Consistency Issues", total_consistency),
    ("Duplicate Items", duplicate_items),
    ("Statistical Outliers", outliers),
    ("Flagged Data Mismatches", flagged_mismatches),
    ("Rewards Group Analysis", rewards_analysis)
]:
    print(f"\n=== {query_name} ===")
    df_query.show(truncate=False)

=== Missing Values Summary ===
+-------------+----------------+-------------+-----------+---------------+-----------------+
|total_records|null_receipt_ids|null_barcodes|null_prices|null_quantities|null_descriptions|
+-------------+----------------+-------------+-----------+---------------+-----------------+
|6941         |0               |3851         |174        |174            |381              |
+-------------+----------------+-------------+-----------+---------------+-----------------+


=== Price Issues ===
+------------------------+-------+----------+---------+-----------------+---------------+--------------+-------------------+
|receipt_id              |barcode|finalPrice|itemPrice|quantityPurchased|final_price_num|item_price_num|price_difference   |
+------------------------+-------+----------+---------+-----------------+---------------+--------------+-------------------+
|600260210a720f05f300008f|NULL   |2.88      |4.99     |1                |2.88           |4.99          |2.1100000000000003 |
|60049d9d0a720f05f3000094|NULL   |2.89      |3.59     |1                |2.89           |3.59          |0.6999999999999997 |
|60049d9d0a720f05f3000094|NULL   |2.39      |2.59     |1                |2.39           |2.59          |0.19999999999999973|
|60049d9d0a720f05f3000094|NULL   |2.50      |2.99     |1                |2.5            |2.99          |0.4900000000000002 |
|600f24970a720f053500002f|NULL   |0.00      |0.00     |1                |0.0            |0.0           |0.0                |
|600f0cc70a720f053500002c|NULL   |0.00      |0.00     |1                |0.0            |0.0           |0.0                |
|600f39c30a7214ada2000030|NULL   |0.00      |0.00     |1                |0.0            |0.0           |0.0                |
|600f2fc80a720f0535000030|NULL   |0.00      |0.00     |1                |0.0            |0.0           |0.0                |
+------------------------+-------+----------+---------+-----------------+---------------+--------------+-------------------+


=== Total Consistency Issues ===
+------------------------+-------------+------------------+---------------+-------------------+----------------------+
|receipt_id              |receipt_total|sum_line_items    |line_item_count|declared_item_count|total_difference      |
+------------------------+-------------+------------------+---------------+-------------------+----------------------+
|600996ac0a720f05fa000134|1198.68      |1198.6799999999998|127            |348                |2.2737367544323206E-13|
|5ff1e1eb0a720f0523000575|26.00        |26.0              |1              |5                  |0.0                   |
|6000d4ae0a720f05f3000075|20.00        |20.0              |1              |4                  |0.0                   |
|5ffc9d9c0a7214adca00004b|10.00        |24.0              |1              |1                  |14.0                  |
|600746d90a7214ad89000015|4.66         |4.66              |1              |4                  |0.0                   |
|5ff1e1ee0a720f0523000578|27.00        |27.0              |1              |4                  |0.0                   |
|600988870a7214ad8900012c|4.66         |4.66              |1              |4                  |0.0                   |
|600887ae0a7214ad8900008a|23.00        |23.0              |1              |3                  |0.0                   |
|5ff1e1ec0a7214ada100056c|21.00        |21.0              |1              |2                  |0.0                   |
|5ff4ce430a7214ada10005d8|25.00        |25.0              |1              |4                  |0.0                   |
|5fff26c20a7214ad4c00000a|29.00        |29.0              |1              |2                  |0.0                   |
|60183c850a7214ad50000308|27.00        |27.0              |1              |3                  |0.0                   |
|60118c3b0a7214ada2000089|3.00         |3.0               |2              |3                  |0.0                   |
|600f39c30a7214ada2000030|4721.95      |4721.949999999981 |450            |670                |1.9099388737231493E-11|
|6000d4b10a720f05f3000076|21.00        |21.0              |1              |3                  |0.0                   |
|5ffc9da10a7214adca00004d|27.00        |27.0              |1              |4                  |0.0                   |
|5ffc9d9d0a720f05c5000042|26.00        |26.0              |1              |2                  |0.0                   |
|6000b9b70a720f05f300006d|90.36        |90.36000000000001 |8              |21                 |1.4210854715202004E-14|
|60132b740a7214ad50000012|1.00         |3.56              |2              |2                  |2.56                  |
|600f24970a720f053500002f|4368.80      |4368.7999999999865|381            |599                |1.3642420526593924E-11|
+------------------------+-------------+------------------+---------------+-------------------+----------------------+
only showing top 20 rows


=== Duplicate Items ===
+------------------------+------------+-------------------------------------------------------------------------------------+----------------+
|receipt_id              |barcode     |description                                                                          |occurrence_count|
+------------------------+------------+-------------------------------------------------------------------------------------+----------------+
|600260210a720f05f300008f|036000391718|KLEENEX POP UP RECTANGLE BOX FACIAL TISSUE 2 PLY 8PK 160 CT                          |14              |
|600af82f0a720f053500000a|012000809941|REGULAR PEPSI SODA COLA CAN 12 CT 144 OZ                                             |2               |
|600370250a720f05f3000090|NULL        |HYV LF PEACH YOGURT                                                                  |2               |
|600f24970a720f053500002f|NULL        |HRML CURE 81.81                                                                      |2               |
|5ff3710b0a7214ada10005a7|044700033302|OSCAR MAYER Carving Board Oven Roasted Turkey Breast, 7.5 oz                         |9               |
|60085ba90a720f05fa00006a|044700087145|OSCAR MAYER 10 OZ ROAST BEEF                                                         |5               |
|600f39c30a7214ada2000030|311111511867|BEN AND JERRYS ICE CREAM                                                             |12              |
|600f39c30a7214ada2000030|511111004127|V8                                                                                   |2               |
|600f39c30a7214ada2000030|044000039905|NBSC RTZ BTR CRCK BOX 13.7 OZ                                                        |2               |
|600f2fc80a720f0535000030|511111704140|PREGO                                                                                |2               |
|600f39c30a7214ada2000030|NULL        |HERSHEY KISS                                                                         |2               |
|6000b8590a7214ad4c000057|043000043790|Jell-O Mixchief Vanilla Pudding Instant 3.40-oz                                      |4               |
|600f485e0a720f053500003b|044700073933|LUNCHABLES Breakfast Cinnamon Roll Dippers Lunch Combination 3.15 OZ Tray            |5               |
|5ff73be90a720f052300060a|NULL        |NULL                                                                                 |2               |
|6002590c0a7214ad4c000082|NULL        |BEN & JERRY' S CHUNKY MONKEY PINT                                                    |2               |
|6004a5f20a7214ad4c000088|NULL        |Green Bell Peppers                                                                   |3               |
|600f2fc80a720f0535000030|NULL        |CHEESE SAUCE                                                                         |7               |
|60023e8f0a720f05f300008b|511111001485|TOSTITOS                                                                             |2               |
|5ff36c6d0a720f0523000597|046704085905|T.G.I. FRIDAY'S(r) Frozen Loaded Baked Potato Cheese Spread DIP BOX 8 OZ 004670408590|4               |
|600206000a720f05f3000087|024105590051|JST BR BNLS HND TRMD MNML PRCS SKNL CHCK WHL BRST FLT RFRG MLDD TRY 14 OZ            |2               |
+------------------------+------------+-------------------------------------------------------------------------------------+----------------+
only showing top 20 rows


=== Statistical Outliers ===
+------------------------+------------+-------------------------------------------------------------------------+----------+-----------------+------------------+------------------+
|receipt_id              |barcode     |description                                                              |finalPrice|quantityPurchased|avg_price         |avg_quantity      |
+------------------------+------------+-------------------------------------------------------------------------+----------+-----------------+------------------+------------------+
|5ff873d40a720f0523000644|4011        |ITEM NOT FOUND                                                           |23.00     |8                |12.818757062146894|2.1920903954802258|
|600206000a720f05f3000087|075706191031|CNS CLSC THN SPR BLCK OLV GRN PPR ONN WHL MLK MZRL PRMS RMN 25.49 OZ     |5.99      |1                |5.990000000000001 |1.0               |
|600206000a720f05f3000087|028189000079|HTCH JLPN PPR SLCD JAR SLCT 12 OZ                                        |1.19      |1                |1.1899999999999997|1.0               |
|600206000a720f05f3000087|754500326305|Hy-Vee Clover Honey Bear                                                 |5.99      |1                |5.990000000000001 |1.0               |
|600206000a720f05f3000087|058496723002|WSTMP SS CTSNK RPGBG CHKN 6.3OZ                                          |1.99      |1                |1.9899999999999998|1.0               |
|600206000a720f05f3000087|058449450023|NTRS PTH FLX N OATS INST OAT ORGN BOX HOT CRL 14 OZ                      |3.99      |1                |3.989999999999999 |1.0               |
|600206000a720f05f3000087|071007023095|EL MNT MLD BF BN GRN CHL BRT KP FRZN BAG 32 OZ                           |4.99      |1                |4.990000000000001 |1.0               |
|600206000a720f05f3000087|072310001459|Bigelow Green Tea Bags with Lemon                                        |3.49      |1                |3.4900000000000015|1.0               |
|600206000a720f05f3000087|511111204206|SWANSON                                                                  |5.58      |2                |5.579999999999999 |2.0               |
|600206000a720f05f3000087|043000716021|YUBAN Traditional Medium Roast Ground Coffee 12 oz. Canister             |5.99      |1                |5.990000000000001 |1.0               |
|600206000a720f05f3000087|044500341720|Hillshire Farm - Turkey Polska Kielbasa 13.00-oz                         |3.99      |1                |3.9899999999999998|1.0               |
|600206000a720f05f3000087|024105590051|JST BR BNLS HND TRMD MNML PRCS SKNL CHCK WHL BRST FLT RFRG MLDD TRY 14 OZ|6.99      |1                |6.990000000000001 |1.0               |
|600206000a720f05f3000087|4060        |Broccoli                                                                 |2.99      |1                |2.9900000000000007|1.0               |
|600206000a720f05f3000087|4069        |Green Cabbage                                                            |2.05      |1                |2.0500000000000003|1.0               |
|600206000a720f05f3000087|754500355602|Hy-Vee Seasoned Croutons                                                 |1.79      |1                |1.7899999999999996|1.3               |
|600206000a720f05f3000087|018627030010|Kashi Granola Bars - Chewy Honey Almond Flax                             |3.77      |1                |3.7700000000000005|1.0               |
|600206000a720f05f3000087|041000004087|Lipton Recipe Secrets Beefy Onion Recipe Soup & Dip Mix, 2 count, 2.2 oz |1.99      |1                |1.9899999999999995|1.0               |
|600206000a720f05f3000087|058449450023|NTRS PTH FLX N OATS INST OAT ORGN BOX HOT CRL 14 OZ                      |3.99      |1                |3.989999999999999 |1.0               |
|600206000a720f05f3000087|044500341720|Hillshire Farm - Turkey Polska Kielbasa 13.00-oz                         |3.99      |1                |3.9899999999999998|1.0               |
|600206000a720f05f3000087|024105590051|JST BR BNLS HND TRMD MNML PRCS SKNL CHCK WHL BRST FLT RFRG MLDD TRY 14 OZ|6.99      |1                |6.990000000000001 |1.0               |
+------------------------+------------+-------------------------------------------------------------------------+----------+-----------------+------------------+------------------+
only showing top 20 rows


=== Flagged Data Mismatches ===
+------------------------+-------+------------------+----------+----------------+-----------------+-------------------+
|receipt_id              |barcode|userFlaggedBarcode|finalPrice|userFlaggedPrice|quantityPurchased|userFlaggedQuantity|
+------------------------+-------+------------------+----------+----------------+-----------------+-------------------+
|5ff73be50a720f0523000608|4011   |4011              |29.00     |28.00           |6                |3                  |
|5ff873d40a720f0523000644|4011   |4011              |23.00     |22.00           |8                |5                  |
|600057040a7214ad4c000041|4011   |4011              |25.00     |24.00           |6                |3                  |
|60088d580a7214ad890000eb|4011   |4011              |26.00     |25.00           |7                |4                  |
|60118c0a0a720f0535000067|4011   |4011              |28.00     |27.00           |6                |3                  |
|601c68ce0a7214ad280002d6|4011   |4011              |29.00     |28.00           |8                |5                  |
+------------------------+-------+------------------+----------+----------------+-----------------+-------------------+


=== Rewards Group Analysis ===
+----------------------------------------------+------------------+----------+-------------+------------------+
|rewardsGroup                                  |competitiveProduct|item_count|receipt_count|avg_price         |
+----------------------------------------------+------------------+----------+-------------+------------------+
|BIRDS EYE STEAMFRESH PLAIN FROZEN VEGETABLES  |true              |11        |10           |1.7172727272727273|
|CHEX CEREAL MEDIUM SIZE                       |false             |6         |5            |1.49              |
|OLD EL PASO BEANS & PEPPERS                   |NULL              |1         |1            |10.0              |
|HEALTHY CHOICE BONE BROTH SOUP                |true              |1         |1            |3.69              |
|TOTINO'S PIZZA ROLLS 15 COUNT - 40 COUNT      |true              |11        |3            |9.172727272727274 |
|CINNAMON TOAST CRUNCH CEREAL GIANT SIZE       |NULL              |9         |6            |2.49              |
|KOOL-AID BEVERAGE DRINK                       |NULL              |5         |1            |9.99              |
|HIDDEN VALLEY DRY SALAD DRESSING & DIP MIX    |NULL              |2         |2            |7.49              |
|LIPTON RECIPE SECRETS                         |NULL              |13        |12           |1.9899999999999995|
|SUAVE KIDS HAIR CARE                          |NULL              |1         |1            |10.0              |
|MARIE CALLENDER'S POT PIE MULTI SERVE         |false             |17        |5            |6.754705882352942 |
|YOPLAIT FIBER ONE YOGURT                      |NULL              |1         |1            |10.0              |
|HUGGIES SPECIAL DELIVERY DIAPERS 60 - 69 COUNT|NULL              |1         |1            |19.99             |
|KNORR SIDES                                   |NULL              |58        |19           |8.715344827586206 |
|HONEY NUT CHEERIOS CEREAL FAMILY SIZE         |NULL              |2         |2            |6.745             |
|PEPSI 12 OZ 24+ COUNT                         |true              |2         |2            |16.0              |
|DUNCAN HINES CAKE MIX                         |true              |9         |2            |6.661111111111111 |
|FINISH DISHWASHING ENHANCERS                  |NULL              |2         |1            |9.79              |
|SARGENTO RICOTTA CHEESE                       |true              |32        |14           |6.846875          |
|NATURE VALLEY CHEWY BARS                      |true              |11        |11           |3.7700000000000005|
+----------------------------------------------+------------------+----------+-------------+------------------+
only showing top 20 rows